In [2]:
import numpy as np
import pandas as pd
import pciSeq
import tifffile as tf

In [3]:
label_image = tf.imread("../data/strip_of_tissue/mask/Base_1_stitched-1.tif.segmented.compressed.tif")

In [6]:
label_image -= 1

In [11]:
label_image = label_image.reshape(label_image.shape[-2:])

In [12]:
label_image.shape

(26107, 38994)

In [40]:
coords_list = []
for i in range(28, 35):
    spots_df = pd.read_csv(f"../data/strip_of_tissue/dw/spots_DW.fov_{i:03d}.csv.gz", sep="\t")
    coords_list.append(spots_df.loc[spots_df["target"].values.astype("S") != b'nan', ("target", "xc", "yc")])

/home/gire/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [42]:
spots_df = pd.concat(coords_list)

In [39]:
res = pciSeq.fit(spots_df, label_image, scRNA_df)

         target          xc           yc
3028     LHFPL3  869.844974  4243.094682
4913      CALM2  909.339057  4241.631939
4914     SLC1A2  901.862810  4241.631939
5076       FTH1  822.874646  4241.469412
5077      KCNC2  808.734789  4241.469412
...         ...         ...          ...
304824  SPARCL1  870.170028  3912.514586
304833    NCAM2  818.973996  3912.514586
304835    CADM2  806.459410  3912.514586
304836     FTH1  804.671612  3912.514586
306566   LHFPL3  913.402234  3911.051842

[47136 rows x 3 columns]

In [ ]:
res = pciSeq.fit(spots_df, label_image, scRNA_df)